
/* Links e imagem layout */
section img {
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 800px;
    height: auto;
}

picture img{
    display: block;
    margin: 2px auto;
    border-radius: 8px;
    width: 90%;
    max-width: 800px;
}
a {
    text-decoration: none;
}

a:hover {
    color: red;
}

/* Barra de navegação */

nav {
    padding: 1rem;
    background: black;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;

}

h1 {
    /* Não sei o que eu fiz aqui, mas consegui deixar o "logo" e a frase encaixados certinhos */
    background: black;
    color: white;
    padding: 1rem;
    margin: 0;
    display: flex;
    justify-content: center;
}

mark:hover{
    /* 
    Efeito ao passar o mouse sobre a frase destacada
    Não tive razão nenhuma pra fazer isso, só queria praticar o hover mesmo.
    */
    background: black;
    color: white;
    cursor: pointer;
}

/* Página cadastro em construção */



#idoso-obra{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    background: white;
    color: white;
    padding: 30px;


}

#rickroll{
    color: white;
    text-decoration: none;
}

#rickroll:visited{
    color: white;
}

#rickroll:hover{
    background: black;
    color: yellow;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
