
/* Links e imagem layout */
section img {
    display: block;
    margin: 0 auto;
}

picture img{
    display: block;
    margin: 2px auto;
    border-radius: 8px;
}
a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: red;
}

/* Barra de navegação */

nav {
    padding: 1rem;
    background: black;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;

}

h1 {
    /* Não sei o que eu fiz aqui, mas consegui deixar o "logo" e a frase encaixados certinhos */
    background: black;
    color: white;
    padding: 1rem;
    margin: 0;
    display: flex;
    justify-content: center;
}

mark:hover{
    /* 
    Efeito ao passar o mouse sobre a frase destacada
    Não tive razão nenhuma pra fazer isso, só queria praticar o hover mesmo.
    */
    background: black;
    color: white;
    cursor: pointer;
}
